.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
        align-items: center;
 
}


.square {
  width: 20%;
  padding: 25px;
}

h1{
  color: blue;
  font-size: 500%;
text-align: center;
}

h2{
  color: black;
  font-size: 200%;
}

p{
  color: black;
  font-size: 150%;
}
/*
body {
 background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c58a6b24-9998-464f-87da-1c45d1b89a4c/dbuynxy-5a815bfd-d64e-4dba-bc28-d0d819ab056d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M1OGE2YjI0LTk5OTgtNDY0Zi04N2RhLTFjNDVkMWI4OWE0Y1wvZGJ1eW54eS01YTgxNWJmZC1kNjRlLTRkYmEtYmMyOC1kMGQ4MTlhYjA1NmQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EBsLNN8FJquNYrkkUikb5CAuDFdCkftBOTmgjrJSzLc");
}*/